<!DOCTYPE html>
<html>

<head>
  
  <link rel="stylesheet" href="../public/css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <main>
    <%- body %>
  </main>
</body>

</html>